<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bruhcollective.itaysonlab.jetispot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <package android:name="com.google.android.projection.gearhead" />
        <package android:name="com.google.android.wearable.app" />
        <package android:name="com.google.android.autosimulator" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <package android:name="com.google.android.carassistant" />
    </queries>

    <application
        android:manageSpaceActivity=".ManageStorageActivity"
        android:networkSecurityConfig="@xml/nsc"
        android:name=".SpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jetispot"
        tools:targetApi="n">
        <activity
            android:launchMode="singleTop"
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Jetispot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="open.spotify.com" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ManageStorageActivity"
            android:exported="true"
            android:theme="@style/Theme.Jetispot" />

        <service android:name=".playback.service.SpPlaybackService" android:exported="true" android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media2.session.MediaLibraryService"/>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
    </application>

</manifest>